* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://fastly.picsum.photos/id/902/1600/900.jpg?hmac=V7TTgVie3pltSN5FnRAUZVRJrrPJvX5LDLURJVaGwqc");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sechero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("https://fastly.picsum.photos/id/859/1600/900.jpg?hmac=bEDPhKrKiQ-omeIuPfvxmx05xhYViiMqMMf6xux4f8Q");
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 218, 215);
    font-size: xx-large;
}

.potona {
    width: 200px;
    height: 40px;
    margin-left: 250px;
    background: #b43a3a;
    background: linear-gradient(80deg, rgb(174, 56, 56) 24%, rgba(253, 29, 44, 1) 64%, rgba(252, 176, 69, 1) 100%);
    border: none;
}

.paragraph {
    margin-left: 70px;
}

.sec2 {
    height: 250px;
    background: linear-gradient(90deg, #ed4a22, #f4345a, #fa1842);
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.sec2::before {
    content: "";
    position: absolute;
    /* !inset: 0; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.08) 0px,
            rgba(255, 255, 255, 0.08) 10px,
            transparent 10px,
            transparent 20px);
}

.box2 {
    background-color: white;
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
}

.sec3 {
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background:
        linear-gradient(#d2d0d0 2px, transparent 2px),
        linear-gradient(90deg, #e0e0e0 2px, transparent 2px);
    background-color: white;
    background-size: 50px 50px;

}
.sec4 {
    height: 300px;
    display: flex;
    justify-content: center;
    color: #4b1f03;
}
.sec5{
height: 360px;
display: flex;
justify-content: center;
text-align: center;
/* background-color:(90deg, #5e1c0b, #f4345a, #5e1c0b); */
background: linear-gradient(90deg, #ed4a22, #fd8551, #ed4a22);
align-items: center;
color: #d2d0d0;
}
.potona2{
border: none;
width: 130px;
height: 40px;
margin-top: 40px;
}
